body {
    font-family: Arial;
    text-align: center;
    background-color: #121212;
    color: white;
}

.container {
    margin-top: 100px;
}

button {
    padding: 15px 30px;
    margin: 10px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.start {
    background-color: green;
    color: white;
}

.stop {
    background-color: red;
    color: white;
}

.status {
    font-size: 24px;
    margin-bottom: 20px;
}